.container {
  text-align: center;
  justify-content: center;
}

.form {
  width: 100%;
  margin-top: 3rem;
  border-radius: 0%;
  padding: 4px;
}

.input {
  width: 100%;
  border-radius: 0%;
  padding: 4px;
}

.btn {
  width: 100%;
  margin-top: 1rem;
  background-color: #393e46;
  color: white;
  border-radius: 0%;
}

.round-img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.items {
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 20px 0px 10px 0px;
}

.alert {
  text-align: left;
}
