.container {
  text-align: center;
  justify-content: center;
}

.form {
  width: 100%;
  margin-top: 3rem;
  border-radius: 0%;
  padding: 4px;
}

.input {
  width: 100%;
  border-radius: 0%;
  padding: 4px;
}

.form-btn {
  width: 100%;
  margin-top: 1rem;
  color: white;
  border-radius: 0%;
}

.round-img {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.round-img-big {
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.items {
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 20px 0px 10px 0px;
}

.alert {
  text-align: inherit;
}

.profile {
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.left {
  text-align: left;
  padding: 15px;
}

.vr1 {
  border-right: 1px solid black;
}
